## INTELLIJ/RubyMine
.idea/*
.idea/**/*

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo

## PROJECT::GENERAL
coverage
rdoc
pkg
tmp

## PROJECT::SPECIFIC
.bundle
.rvmrc
.gemrc
Gemfile.lock

tags
rails3-jquery-autocomplete-*.gem
